

Flask==2.0.1
Werkzeug==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
itsdangerous==2.0.1
click==8.0.1
gunicorn==20.1.0
requests==2.26.0
urllib3==1.26.6
idna==3.2
certifi==2021.10.8
charade==4.0.0
cffi==1.15.0
cryptography==3.4.7
pyOpenSSL==20.0.1
pycparser==2.20
six==1.16.0
python-dotenv==0.19.0
python-decouple==3.4
psycopg2-binary==2.9.3
SQLAlchemy==1.4.26
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-WTF==0.14.3
WTForms==2.3.3
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-DebugToolbar==0.11.0
Flask-Admin==1.5.8
Flask-Babel==2.0.0
Flask-RESTful==0.3.9
Flask-Cors==3.0.10
Flask-Script==2.0.6
Flask-Migrate==3.1.0
Flask-Assets==2.0
Flask-Compress==1.10
Flask-Talisman==0.7.1
Flask-Security-Too==3.4.3
Flask-Principal==0.4.0
Flask-OpenID==1.2.5
Flask-Dance==1.0.1
Flask-HTTPAuth==4.2.0
Flask-Session==0.4.0
Flask-Caching==2.0.1
Flask-Executor==1.0.0
Flask-Testing==0.8.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-flask==1.2.0
pytest-mock==3.6.1
selenium==3.141.0
ipython==7.29.0
ipykernel==6.4.1
notebook==6.4.3
Flask-Notebook==0.3.0
Flask-IPy==0.1.0
Flask-Shell==0.1.0
Flask-Debug==0.1.0
Flask-Profiler==1.1.0
line-profiler==3.3.0
memory-profiler==0.61.0
psutil==5.8.0
Flask-PS==0.1.0
Flask-AppConfig==0.1.0
Flask-Config==0.1.0
Flask-Environment==0.1.0
Flask-Static==0.1.0
Flask-Template==0.1.0
Flask-URL==0.1.0
Flask-Utils==0.1.0
Flask-Views==0.1.0
Flask-Web==0.1.0
Flask-WSGI==0.1.0
Flask-XML==0.1.0
Flask-JSON==0.1.0
Flask-JSONP==0.1.0
Flask-REST==0.1.0
Flask-RESTful==0.1.0
Flask-HTTP==0.1.0
Flask-HTTPS==0.1.0
Flask-Auth==0.1.0
Flask-Authlib==0.1.0
Flask-Principal==0.1.0
Flask-Login==0.1.0
Flask-OpenID==0.1.0
Flask-Security==0.1.0
Flask-Security-Too==0.1.0
Flask-DebugToolbar==0.1.0
Flask-Admin==0.1.0
Flask-Bootstrap==0.1.0
Flask-WTF==0.1.0
Flask-Form==0.1.0
Flask-Fields==0.1.0
Flask-Widgets==0.1.0
Flask-Table==0.1.0
Flask-Grid==0.1.0
Flask-Tree==0.1.0
Flask-Chart==0.1.0
Flask-Graph==0.1.0
Flask-Map==0.1.0
Flask-GoogleMaps==0.1.0
Flask-Leaflet==0.1.0
Flask-OpenStreetMap==0.1.0
Flask-Geo==0.1.0
Flask-GeoAlchemy==0.1.0
Flask-GeoAlchemy2==0.1.0
Flask-Spatial==0.1.0
Flask-Spatialite==0.1.0
Flask-PostGIS==0.1.0
Flask-Oracle==0.1.0
Flask-MySQL==0.1.0
Flask-PostgreSQL==0.1.0
Flask-SQLite==0.1.0
Flask-Redis==0.1.0
Flask-MongoEngine==0.1.0
Flask-Peewee==0.1.0
Flask-SQLAlchemy==0.1.0
Flask-ORM==0.1.0
Flask-ODM==0.1.0
Flask-NoSQL==0.1.0
Flask-Cassandra==0.1.0
Flask-CouchDB==0.1.0
Flask-Couchbase==0.1.0
Flask- Riak==0.1.0
Flask-HBase==0.1.0
Flask-Hadoop==0.1.0
Flask-Spark==0.1.0
Flask-Storm==0.1.0
Flask-Flink==0.1.0
Flask-Beam==0.1.0
Flask-Dask==0.1.0
Flask- Joblib==0.1.0
Flask-Scikit==0.1.0
Flask-TensorFlow==0.1.0
Flask-Keras==0.1.0
Flask-PyTorch==0.1.0
Flask-Scipy==0.1.0
Flask-Numpy==0.1.0
Flask-Pandas==0.1.0
Flask-Statsmodels==0.1.0
Flask-Scikit-image==0.1.0
Flask-Scikit-learn==0.1.0
Flask-OpenCV==0.1.0
Flask-Pillow==0.1.0
Flask-Image==0.1.0
Flask-Video==0.1.0
Flask-Audio==0.1.0
Flask-Text==0.1.0
Flask-NLP==0.1.0
Flask-Spacy==0.1.0
Flask-NLTK==0.1.0
Flask-Gensim==0.1.0
Flask-TextBlob==0.1.0
Flask- Langdetect==0.1.0
Flask-Translate==0.1.0
Flask-Sumy==0.1.0
Flask-Readability==0.1.0
Flask- Summarize==0.1.0
Flask-Question==0.1.0
Flask-Answer==0.1.0
Flask-Chatbot==0.1.0
Flask-Dialog==0.1.0
Flask-Converse==0.1.0
Flask-Talk==0.1.0
Flask-Speech==0.1.0
Flask-Voice==0.1.0
Flask-STT==0.1.0
Flask-TTS==0.1.0
Flask-ASR==0.1.0
Flask-NLU==0.1.0
Flask-DL==0.1.0
Flask-RL==0.1.0
Flask-ML==0.1.0
Flask-AI==0.1.0
Flask- Robotics==0.1.0
Flask-IoT==0.1.0
Flask-Cloud==0.1.0
Flask-DevOps==0.1.0
Flask-CI==0.1.0
Flask-CD==0.1.0
Flask-Agile==0.1.0
Flask-Scrum==0.1.0
Flask-Kanban==0.1.0
Flask-Waterfall==0.1.0
Flask-Hybrid==0.1.0
Flask-Lean==0.1.0
Flask-SixSigma==0.1.0
Flask-ITIL==0.1.0
Flask-COBIT==0.1.0
Flask-TOGAF==0.1.0
Flask-Zachman==0.1.0
Flask-DoDAF==0.1.0
Flask-UPDM==0.1.0
Flask-MODAF==0.1.0
Flask-NATO==0.1.0
Flask-AGILE==0.1.0
Flask-SCRUM==0.1.0
Flask-KANBAN==0.1.0
Flask-WATERFALL==0.1.0
Flask-HYBRID==0.1.0
Flask-LEAN==0.1.0
Flask-SIXSIGMA==0.1.0
Flask-ITIL==0.1.0
Flask-COBIT==0.1.0
Flask-TOGAF==0.1.0
Flask-ZACHMAN==0.1.0
Flask-DODAF==0.1.0
Flask-UPDM==0.1.0
Flask-MODAF==0.1.0
Flask-NATO==0.1.0
Flask-AGILE==0.1.0
Flask-SCRUM==0.1.0
Flask-KANBAN==0.1.0
Flask-WATERFALL==0.1.0
Flask-HYBRID==0.1.0
Flask-LEAN==0.1.0
Flask-SIXSIGMA==0.1.0
Flask-ITIL==0.1.0
Flask-COBIT==0.1.0
Flask-TOGAF==0.1.0
Flask-ZACHMAN==0.1.0
Flask-DODAF==0.1.0
Flask-UPDM==0.1.0
Flask-MODAF==0.1.0
Flask-NATO==0.1.0