.page-container { display: grid; grid-template-rows: repeat(6, 1fr); grid-template-columns: repeat(4, 1fr); padding: 16px; }
.header { grid-row: 1; grid-column: 1 / 5; display: grid; grid-template-rows: 1fr; grid-template-columns: 1fr 1fr; gap: 2px; }
.current-calculation { font-size: 22px; color: light; text-align: end; align-self: start; }
.result-text { font-size: 64px; font-weight: bold; color: light; text-align: end; align-self: end; }
.box-view { background-color: lightgray; height: 1px; }
.keypad { grid-row: 2; grid-column: 1 / 5; display: grid; grid-template-rows: repeat(4, 1fr); grid-template-columns: repeat(4, 1fr); gap: 2px; }
.button { font-family: OpenSansRegular; font-size: 32px; color: light; background-color: transparent; border-radius: 0; padding: 0; }
.result-display { grid-row: 6; grid-column: 1 / 5; display: grid; grid-template-rows: 1fr; grid-template-columns: 1fr; gap: 2px; }
.result-text { font-size: 64px; font-weight: bold; color: light; text-align: end; align-self: end; }
